<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="300 seconds">

    <!-- Console -->
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>
                %green(%d{ISO8601}) %highlight(%-5level) [%blue(%thread)] %yellow(%class{2}): %msg%n%throwable
            </pattern>
        </encoder>

    </appender>

    <!-- Root: ERROR and above -->
    <root level="ERROR">
        <appender-ref ref="Console"/>
    </root>

    <!-- Application -->
    <logger name="com.sarvatra" level="INFO" additivity="false">
        <appender-ref ref="Console"/>
    </logger>

    <!-- Hibernate SQL -->
    <logger name="org.hibernate.SQL" level="debug" additivity="false">
        <appender-ref ref="Console"/>
    </logger>

    <!-- Hibernate query parameters -->
    <!--    <logger name="org.hibernate.type.descriptor.sql" level="trace" additivity="false">-->
    <!--        <appender-ref ref="Console"/>-->
    <!--    </logger>-->


</configuration>