<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="300 seconds">

    <property name="LOGS" value="./logs"/>
    <property name="FILE_NAME" value="bean-management.log"/>
    <property name="FILE_NAME_ERROR" value="bean-management-error.log"/>
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %green(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%class{2}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/${FILE_NAME}</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %class{2} [%t] %m%n</Pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/${FILE_NAME}-%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="RollingFileError"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/${FILE_NAME_ERROR}</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %class{2} [%t] %m%n</Pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/${FILE_NAME_ERROR}-%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <root level="error">
        <appender-ref ref="RollingFileError"/>
<!--        <appender-ref ref="Console"/>-->
    </root>

    <logger name="com.sarvatra" level="debug" additivity="false">
        <appender-ref ref="RollingFile"/>
<!--        <appender-ref ref="Console"/>-->
    </logger>

    <logger name="com.sarvatra" level="info" additivity="false">
        <appender-ref ref="RollingFile"/>
<!--        <appender-ref ref="Console"/>-->
    </logger>

    <logger name="org.apache.hc" level="error" additivity="false">
        <appender-ref ref="RollingFile"/>
<!--        <appender-ref ref="Console"/>-->
    </logger>


</configuration>
